SOA-TO-REST/SOA-Rest-Invocation/SOA/Schemas/MySOAInvokingRestBpel.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOA_TO_REST/SOA_Rest_Invocation/MySOAInvokingRestBpel"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="firstName" type="string"/>
    <element name="lastName" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>